<link href="/css/styles.css" rel="stylesheet">
<html>
    <body>
        <h1 style="text-align: center;">Welcome to my website</h1>
        <ul>
            <li>
                <a href="/auth/register">Register</a>
            </li> 
           <li>
            <a href="/auth/login">Login</a>
        </li> 
    </body>
</html>