<html>
  <body>
    <div><img style="width: 300px; height: 300px" src=<%=ImageUrl%> /></div>
    <table>
      <tr>
        <td>Name:</td>
        <td><%=Name%></td>
      </tr>
      <tr>
        <td>Description:</td>
        <td><%=Description%></td>
      </tr>
    </table>
  </body>
</html>
