<link href="/css/modal.css" rel="stylesheet">

<div id="myModal" >
<!-- Modal content -->
<div class="modal-content">
  <div class="modal-header">
    <span class="close">&times;</span>
    <h2>Add Edit Product</h2>
  </div>
  <div class="modal-body">
    <form name="product-item" action="" method="post">
      Name: <input name="name" id="name" style="color: black;"  value="<%=Name%>"/><br />
      Description: <input name="description" id="description" style="color: black;" value="<%=Description%>" /><br />
      Image Url: <input name="imageUrl" id="imageUrl" style="color: black;" value="<%=ImageUrl%>"/><br />
      <input type="submit" value="Save" class="btn btn-primary btn-lg"></input>
    </form>
  </div>
</div>
</div>