<link href="/css/styles.css" rel="stylesheet">
<div id = "divRegister">
    <form name="register" action="/auth/register" method="post">
        Username: <input name="username" id="username" style="color: black;" /><br />
        Password: <input type="password" name="password" id="password" style="color: black;" /><br />
        Email: <input name="email" id="email" style="color: black;" /><br />
        <input type="submit" value="Sign Up" class="btn btn-primary btn-lg"></input>
      </form>
    </div>